<div class="card-deck justify-content-center container">
    <div class="card mb-3">
        <h6 class="card-header text-white bg-warning font-weight-bold">Infected</h5>
        <div class="card-body">
            <h1 class="card-title font-weight-bold text-warning m-1">{{TotalConfirmed}}</h1>
            <h6 class="card-text font-weight-bold text-warning">(+{{NewConfirmed}})</h6>
            <p class="card-text mt-3">Number of confirmed cases of COVID-19</p>
        </div>
        <div class="card-footer text-muted font-italic">
            {{Date}}
        </div>
    </div>
    <div class="card mb-3">
        <h6 class="card-header text-white bg-danger font-weight-bold">Deaths</h6>
        <div class="card-body">
            <h1 class="card-title font-weight-bold text-danger m-1">{{TotalDeaths}}</h1>
            <h6 class="card-text font-weight-bold text-danger">(+{{NewDeaths}})</h6>
            <p class="card-text mt-3">Number of deaths caused by COVID-19</p>
        </div>
        <div class="card-footer text-muted font-italic">
            {{Date}}
        </div>
    </div>
    <div class="card mb-3">
        <h6 class="card-header text-white bg-success font-weight-bold">Recovered</h6>
        <div class="card-body">
            <h1 class="card-title font-weight-bold text-success m-1">{{TotalRecovered}}</h1>
            <h6 class="card-text font-weight-bold text-success">(+{{NewRecovered}})</h6>
            <p class="card-text mt-3">Number of recoveries from COVID-19</p>
        </div>
        <div class="card-footer text-muted font-italic">
            {{Date}}
        </div>
    </div>
</div>
