* {
    margin: 0 auto;
    width: 30%;
}

:host {
    display: block;
    text-align: center;
}

.form-control {
    margin-bottom: 1rem;
    border: none;
    border-bottom: 0.2rem solid rgba(223, 223, 223, 1);
    text-align: center;
}